table,td,th{
    border: 1px solid black;
}

td,th{
    border-collapse: collapse;
    
}

table{
    background-color: aliceblue;
}

table{
    border-color: aqua;
}

th, td {
    border-style: dotted;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }