body{
    background-color: aliceblue;
    margin: 20px;
    
}

table,td,th{
    border: 1px solid black;
}

td,th{
    border-collapse: collapse;
    
}

table{
    background-color: aliceblue;
}


th, td {
    border-style: dotted;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  
  #principal{
    color:black;
  }

  .head{
    color:darkslategray;
  }
  table,th,td{
    padding: 20px;
  }

  .desc{
    background-color:lightslategrey;
    margin-right: 1320px;
    color: black;
  }

 

  